DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306
DB_HOST=localhost
DB_NAME=smartcafe
JWT_SECRET=kayokoonikata
MIDTRANS_SERVER_KEY=YOUR-SERVER-KEY
WIFI_SECRET_KEY="WIFI:T:WPA;S:{YOUR-WIFI-SSID};P:{YOUR-WIFI-PASSWORD};H:;;""WIFI:"